__pycache__/
*.py[cod]
*.log
.DS_Store
.pytest_cache/
.coverage
venv/
.venv/
IPSW/
img4tool/
irecovery/
fugu/
*.json
!iBridge2,5.json
resources/manifest.plist
resources/shsh.shsh
resources/IM4M
resources/StagedFiles/*
!resources/StagedFiles/placeholderfile.txt

